<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/loginstyles.css}" href="../../css/loginstyles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Virtual Diary | Register new user</title>
</head>
<body>

<body class="main">
<div class="grid mainelement">
    <div class="register">
        <h4>Seems like this user is already registered in our database.</br>
        <a href="/register">Try again!</a> </h4>
    </div>
</div>



</body>
</html>