<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/loginstyles.css}" href="../../css/loginstyles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Virtual Diary | Register new user</title>
</head>
<body class="main">

<div class="grid mainelement">
    <div class="register">

        <form th:action="@{/register}" th:object="${newuser}" method="post">
            <div class="form_field">
                <input type="text" th:field = "*{username}" class="form-control" id="username" name="username" placeholder="username" />
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>
            </div>
            <div class="form_field">
                <input type="password" th:field = "*{password}" class="form-control" id="password" name="password" placeholder="password" />
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>
            </div>

            <div class="form_field">
                <input type="text" th:field = "*{firstName}" class="form-control" id="firstName" name="firstName" placeholder="first name" />
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</span>
            </div>

            <div class="form_field">
                <input type="submit" value="Register">
            </div>
            <p>Back to <a href="/login">login page</a></p>
        </form>

    </div>
</div>


</body>
</html>